name: Build

on:
  push:
    branches: [ "qt5" ]
  pull_request:

jobs:
  release_draft:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      version: ${{steps.release_draft.outputs.version}}
      release_id: ${{steps.release_draft.outputs.release_id}}
    steps:
      - uses: actions/checkout@v4
      - id: release_draft
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          version="$(tr -d '\r\n ' < version.txt)"
          echo "version=${version}" >> $GITHUB_OUTPUT
          tagexists="$(gh release list --limit 10 --json tagName \
            --jq ".[] | select (.tagName==\"${version}\") | .tagName")"
          if [ -z "${tagexists}" ]; then
            gh release create "${version}" \
              --target qt5 \
              --draft \
              --title "qt_${version}" \
              --notes "qt ${version}"
          fi
          release_id="$(gh release view "${version}" --json databaseId --jq .databaseId)"
          echo "release_id=${release_id}" >> "$GITHUB_OUTPUT"

  macos:
    needs: release_draft
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        include:
          - os: macos-14
          - os: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/macos
        id: build
        with:
          version: ${{needs.release_draft.outputs.version}}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{steps.build.outputs.fn}}
          path: ${{steps.build.outputs.path}}
      - uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file:       ${{steps.build.outputs.path}}
          asset_name: ${{steps.build.outputs.fn}}
          release_id: ${{needs.release_draft.outputs.release_id}}
          overwrite:  true

  windows-mingw:
    needs: release_draft
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        include:
          - os: win2019
            arch: 32
          - os: win2019
            arch: 64
    steps:
      - name: cleanup
        shell: powershell
        run: |
          Remove-Item * -Recurse -Force
      - uses: actions/checkout@v4
      - uses: ./.github/actions/windows-mingw
        id: build
        with:
          version: ${{needs.release_draft.outputs.version}}
          arch:    ${{matrix.arch}}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{steps.build.outputs.fn}}
          path: ${{steps.build.outputs.path}}
      - uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file:       ${{steps.build.outputs.path}}
          asset_name: ${{steps.build.outputs.fn}}
          release_id: ${{needs.release_draft.outputs.release_id}}
          overwrite:  true

  windows-msvc:
    needs: release_draft
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        include:
          - os: win2019
            arch: x86
          - os: win2019
            arch: x64
    steps:
      - name: cleanup
        shell: powershell
        run: |
          Remove-Item * -Recurse -Force
      - uses: actions/checkout@v4
      - uses: ./.github/actions/windows-msvc
        id: build
        with:
          version: ${{needs.release_draft.outputs.version}}
          arch:    ${{matrix.arch}}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{steps.build.outputs.fn}}
          path: ${{steps.build.outputs.path}}
      - uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file:       ${{steps.build.outputs.path}}
          asset_name: ${{steps.build.outputs.fn}}
          release_id: ${{needs.release_draft.outputs.release_id}}
          overwrite:  true