name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{steps.create_release.outputs.upload_url}}
    steps:
      - id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          tag_name: ${{github.ref}}
          release_name: qt_${{github.ref}}
          draft: false
          prerelease: false

  macos:
    needs: release
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [macos-14]
        include:
          - os: macos-14
            arch: arm64
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/macos
        id: build
        with:
          vvv:  "6.9.3"
          vv:   "6.9"
          arch: ${{matrix.arch}}
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{needs.release.outputs.upload_url}}
          asset_path: ${{steps.build.outputs.path}}
          asset_name: ${{steps.build.outputs.fn}}
          asset_content_type: application/octet-stream

  windows-x64:
    needs: release
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        include:
          - os: windows-2022
            comp: llvm1706
            archive: llvm-mingw-20231128-ucrt-x86_64.zip
            link: https://download.qt.io/development_releases/prebuilt/mingw_64/
          - os: windows-2022
            comp: mingw1310
            archive: MinGW-w64-x86_64-13.1.0-release-posix-seh-msvcrt-rt_v11-rev1.7z
            link: https://download.qt.io/development_releases/prebuilt/mingw_64/
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/windows-x64
        id: build
        with:
          vvv:      "6.9.3"
          vv:       "6.9"
          comp:     ${{matrix.comp}}
          archive:  ${{matrix.archive}}
          link:     ${{matrix.link}}
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{needs.release.outputs.upload_url}}
          asset_path: ${{steps.build.outputs.path}}
          asset_name: ${{steps.build.outputs.fn}}
          asset_content_type: application/octet-stream

  windows-msvc:
    needs: release
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        include:
          - os: windows-2022
            arch: x64
            comp: msvc2022
            vspath: C:\Program Files\Microsoft Visual Studio\2022\Enterprise
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/windows-msvc
        id: build
        with:
          vvv:    "6.9.3"
          vv:     "6.9"
          arch:   ${{matrix.arch}}
          comp:   ${{matrix.comp}}
          vspath: ${{matrix.vspath}}
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{needs.release.outputs.upload_url}}
          asset_path: ${{steps.build.outputs.path}}
          asset_name: ${{steps.build.outputs.fn}}
          asset_content_type: application/octet-stream

  windows-arm:
    needs: release
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        include:
          - os: windows-arm64
            comp: msvc2022
            flags: ""
          - os: windows-arm64
            comp: llvm1706
            flags: -no-sql-odbc -- -DCMAKE_C_COMPILER="clang.exe" -DCMAKE_CXX_COMPILER="clang++.exe" -G"Ninja"
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/windows-arm64
        id: build
        with:
          vvv:    "6.9.3"
          vv:     "6.9"
          comp:   ${{matrix.comp}}
          flags:  ${{matrix.flags}}
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{needs.release.outputs.upload_url}}
          asset_path: ${{steps.build.outputs.path}}
          asset_name: ${{steps.build.outputs.fn}}
          asset_content_type: application/octet-stream
